<launch>
  <node pkg="nodelet" type="nodelet" name="drain"
	args="load camultiplex/drain nodelet_manager">
    <param name="diversity" type="int" value="3" />
    <!--param name="base_path" type="string" value="/media/nvidia/ExtremeSSD" /-->
    <param name="base_path" type="string" value="/nvidia/home" />
  </node>
</launch>
